In [1]:
import pandas as pd
import numpy as np

In [2]:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,encoding='latin-1')

In [3]:
items.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
genre = items.iloc[:,6:]

In [5]:
movie_id_title = items.iloc[:,:2]

In [6]:
movie_content=pd.concat([movie_id_title,genre],axis=1)
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [7]:
movie_content=movie_content.T
movie_content

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
movie id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
movie title,Toy Story (1995),GoldenEye (1995),Four Rooms (1995),Get Shorty (1995),Copycat (1995),Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Twelve Monkeys (1995),Babe (1995),Dead Man Walking (1995),Richard III (1995),...,Mirage (1995),Mamma Roma (1962),"Sunchaser, The (1996)","War at Home, The (1996)",Sweet Nothing (1995),Mat' i syn (1997),B. Monkey (1998),Sliding Doors (1998),You So Crazy (1994),Scream of Stone (Schrei aus Stein) (1991)
Action,0,1,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Adventure,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Animation,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Children's,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Comedy,1,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
Crime,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Documentary,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Drama,0,0,0,1,1,1,1,1,1,1,...,0,1,1,1,1,1,0,1,0,1
Fantasy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Film-Noir,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Horror,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Musical,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
Sci-Fi,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Thriller,0,1,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
War,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Western,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
ratings = pd.read_csv('user_based/ml-100k/u.data',sep='\t',names=['user_id','movie_id','rating','unix_timestamp'])

In [9]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [10]:
movie_id_rating = ratings.groupby('movie_id')["rating"].mean().sort_values(ascending=False)

In [11]:
movie_id_rating

movie_id
814     5.0
1599    5.0
1201    5.0
1122    5.0
1653    5.0
       ...
1568    1.0
1567    1.0
1566    1.0
1565    1.0
852     1.0
Name: rating, Length: 1682, dtype: float64

In [12]:
movie_content=movie_content.T

In [13]:
movie_content['popularity'] = movie_content['movie id'].map(movie_id_rating)

In [14]:
movie_content

,movie id,movie title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,popularity
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3.878319
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3.206107
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3.033333
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,3.550239
4,5,Copycat (1995),0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,3.302326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1.000000
1678,1679,B. Monkey (1998),0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,3.000000
1679,1680,Sliding Doors (1998),0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,2.000000
1680,1681,You So Crazy (1994),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3.000000
1681,1682,Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,3.000000

In [15]:
movie_content[(movie_content['Action']==1)].sort_values(by='popularity', ascending=False).head(5)['movie id'].values

array([50, 127, 174, 313, 172], dtype=object)

In [18]:
popular_genre=[]
for i in movie_content.columns[2:20]:
    popular_genre.append(movie_content[(movie_content[i]==1)].sort_values(by='popularity', ascending=False).head(5)['movie title'].values)

In [21]:
pd.DataFrame(popular_genre,index=movie_content.columns[2:20], columns=[1,2,3,4,5])

,1,2,3,4,5
Action,Star Wars (1977),"Godfather, The (1972)",Raiders of the Lost Ark (1981),Titanic (1997),"Empire Strikes Back, The (1980)"
Adventure,Star Kid (1997),Star Wars (1977),Raiders of the Lost Ark (1981),Lawrence of Arabia (1962),"Empire Strikes Back, The (1980)"
Animation,"Close Shave, A (1995)","Wrong Trousers, The (1993)",Wallace & Gromit: The Best of Aardman Animatio...,Faust (1994),"Grand Day Out, A (1992)"
Children's,Star Kid (1997),"Wizard of Oz, The (1939)",Babe (1995),Fly Away Home (1996),Toy Story (1995)
Comedy,Santa with Muscles (1996),"Close Shave, A (1995)","Wrong Trousers, The (1993)",North by Northwest (1959),Shall We Dance? (1996)
Crime,They Made Me a Criminal (1939),"Usual Suspects, The (1995)","Letter From Death Row, A (1998)","Godfather, The (1972)",Crossfire (1947)
Documentary,"Great Day in Harlem, A (1994)",Marlene Dietrich: Shadow and Light (1996),Everest (1998),Maya Lin: A Strong Clear Vision (1994),Hoop Dreams (1994)
Drama,They Made Me a Criminal (1939),Aiqing wansui (1994),"Saint of Fort Washington, The (1993)",Someone Else's America (1995),Prefontaine (1997)
Fantasy,Star Kid (1997),E.T. the Extra-Terrestrial (1982),Heavenly Creatures (1994),"20,000 Leagues Under the Sea (1954)",Jumanji (1995)
Film-Noir,"Manchurian Candidate, The (1962)",Crossfire (1947),"Maltese Falcon, The (1941)",Sunset Blvd. (1950),L.A. Confidential (1997)
Horror,Psycho (1960),Alien (1979),Nightwatch (1997),Young Frankenstein (1974),Braindead (1992)
Musical,"Wizard of Oz, The (1939)",Top Hat (1935),"Damsel in Distress, A (1937)",Singin' in the Rain (1952),This Is Spinal Tap (1984)
Mystery,Rear Window (1954),"Third Man, The (1949)",Vertigo (1958),"Maltese Falcon, The (1941)",Amadeus (1984)
Romance,Casablanca (1942),Star Wars (1977),Titanic (1997),"Empire Strikes Back, The (1980)","Affair to Remember, An (1957)"
Sci-Fi,Star Kid (1997),Star Wars (1977),Dr. Strangelove or: How I Learned to Stop Worr...,"Empire Strikes Back, The (1980)",Blade Runner (1982)
Thriller,"Close Shave, A (1995)",Rear Window (1954),"Usual Suspects, The (1995)","Third Man, The (1949)",Some Folks Call It a Sling Blade (1993)
War,Schindler's List (1993),Casablanca (1942),Star Wars (1977),Dr. Strangelove or: How I Learned to Stop Worr...,Lawrence of Arabia (1962)
Western,High Noon (1952),"Wild Bunch, The (1969)",Butch Cassidy and the Sundance Kid (1969),"Magnificent Seven, The (1954)",Once Upon a Time in the West (1969)