In [131]:
import pandas as pd
import numpy as np

In [132]:
r_cols = ['user_id','movie_id','rating','unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t',names=r_cols)
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [133]:
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.movie_id.unique().shape[0]

In [134]:
n_users, n_items

(943, 1682)

In [135]:
datama = ratings.pivot_table(index='user_id',columns='movie_id',values='rating')

In [136]:
datama

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
data_matrix = datama.replace(np.nan,0)

In [138]:
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [139]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(data_matrix,metric = "cosine")

In [140]:
user_similarity.shape

(943, 943)

In [141]:
ratings.mean(axis=1)

0        2.203128e+08
1        2.229296e+08
2        2.197219e+08
3        2.201518e+08
4        2.215995e+08
             ...
99995    2.200442e+08
99996    2.199491e+08
99997    2.186993e+08
99998    2.205998e+08
99999    2.199900e+08
Length: 100000, dtype: float64

In [164]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        print(similarity.shape)
        print(ratings_diff.shape)
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    return pred

In [165]:
user_prediction = predict(data_matrix, user_similarity, type='user')
user_prediction.shape

(943, 943)
(943, 1682)

C:\Users\Vignesh S\AppData\Local\Temp\ipykernel_72\4151007820.py:4: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
C:\Users\Vignesh S\AppData\Local\Temp\ipykernel_72\4151007820.py:7: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T

(943, 1682)

In [166]:
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

In [167]:
movie_Rating_Prediction = pd.DataFrame(user_prediction)
movie_Rating_Prediction

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,2.065326,0.734303,0.629924,1.010669,0.640686,0.476150,1.784569,1.163032,1.513350,0.704478,...,0.394041,0.394434,0.393981,0.392972,0.393344,0.392272,0.394909,0.393590,0.393049,0.392771
1,1.763088,0.384040,0.196179,0.731538,0.225643,0.003892,1.493597,0.876153,1.108467,0.261991,...,-0.086942,-0.085491,-0.087137,-0.088158,-0.087298,-0.089288,-0.087468,-0.088378,-0.086918,-0.086712
2,1.795904,0.329047,0.158829,0.684154,0.173277,-0.035621,1.488230,0.835769,1.135426,0.236383,...,-0.134795,-0.133537,-0.135543,-0.136438,-0.135041,-0.137611,-0.136374,-0.136992,-0.134969,-0.134765
3,1.729951,0.293913,0.127741,0.644932,0.142143,-0.062261,1.437010,0.796249,1.096663,0.211789,...,-0.161413,-0.160220,-0.161542,-0.162586,-0.161634,-0.163877,-0.162283,-0.163080,-0.161442,-0.161248
4,1.796651,0.454474,0.354422,0.763130,0.359539,0.195987,1.547370,0.908904,1.292027,0.437954,...,0.101762,0.102405,0.101923,0.100839,0.101711,0.099951,0.102515,0.101233,0.101075,0.101201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,1.676950,0.346339,0.177518,0.689906,0.199740,0.003297,1.429565,0.830905,1.070986,0.262183,...,-0.092434,-0.091197,-0.092851,-0.093801,-0.092953,-0.094539,-0.092217,-0.093378,-0.092686,-0.092423
939,1.822346,0.419125,0.286430,0.715605,0.294442,0.106633,1.514591,0.853050,1.195304,0.359260,...,0.014060,0.014688,0.014123,0.013060,0.013669,0.011978,0.014065,0.013021,0.013639,0.013796
940,1.591515,0.275269,0.102195,0.624383,0.133762,-0.069553,1.320734,0.765529,1.035088,0.192697,...,-0.166179,-0.164981,-0.166278,-0.167392,-0.166679,-0.168486,-0.166217,-0.167352,-0.166575,-0.166414
941,1.810363,0.404799,0.275450,0.726616,0.281316,0.087068,1.550310,0.850057,1.205745,0.342987,...,-0.008362,-0.007757,-0.008225,-0.009218,-0.008232,-0.010138,-0.008009,-0.009074,-0.008466,-0.008049
942,1.838431,0.479648,0.384963,0.780521,0.388442,0.240998,1.564232,0.946704,1.289865,0.487383,...,0.147027,0.148208,0.147193,0.146199,0.146916,0.145539,0.148194,0.146867,0.146298,0.146415

In [168]:
similar_User_Prediction = pd.DataFrame(user_similarity)
similar_User_Prediction

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,2.442491e-15,8.330690e-01,0.952540,0.935642,0.621525,0.569761,0.559633,0.680928,0.921862,0.623456,...,0.630473,0.880518,0.725124,0.810295,0.802674,0.881905,6.859280e-01,0.851383,8.204921e-01,0.601825
1,8.330690e-01,3.330669e-16,0.889409,0.821879,0.927021,0.754157,0.892672,0.896656,0.838952,0.840138,...,0.843014,0.692058,0.641211,0.575954,0.680111,0.771417,7.732100e-01,0.838515,8.277322e-01,0.894202
2,9.525405e-01,8.894087e-01,0.000000,0.655849,0.978755,0.927585,0.933863,0.916940,0.938960,0.934849,...,0.968125,0.957247,0.836171,0.930962,0.875755,0.973729,8.381099e-01,0.898757,8.665839e-01,0.973444
3,9.356422e-01,8.218788e-01,0.655849,0.000000,0.968196,0.931956,0.908770,0.811940,0.898716,0.939141,...,0.947893,0.963216,0.866885,0.806529,0.853942,0.969862,8.031418e-01,0.847959,8.299139e-01,0.941248
4,6.215248e-01,9.270210e-01,0.978755,0.968196,0.000000,0.762714,0.626400,0.751070,0.943153,0.798573,...,0.661206,0.919420,0.905076,0.920221,0.851393,0.928541,7.600453e-01,0.860405,8.475026e-01,0.686059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8.819047e-01,7.714166e-01,0.973729,0.969862,0.928541,0.888148,0.892973,0.904102,0.960148,0.928540,...,0.933961,0.568846,0.741979,0.773551,0.567334,0.000000,9.123129e-01,0.819971,9.567357e-01,0.855750
939,6.859280e-01,7.732100e-01,0.838110,0.803142,0.760045,0.647551,0.670075,0.753117,0.879505,0.657039,...,0.672847,0.892976,0.812464,0.818683,0.824842,0.912313,3.330669e-16,0.854848,7.386238e-01,0.758972
940,8.513831e-01,8.385152e-01,0.898757,0.847959,0.860405,0.855554,0.940007,0.853855,0.856755,0.909695,...,0.953048,0.796699,0.711682,0.765789,0.686600,0.819971,8.548477e-01,0.000000,8.983582e-01,0.904880
941,8.204921e-01,8.277322e-01,0.866584,0.829914,0.847503,0.682672,0.717997,0.824678,0.907503,0.787670,...,0.773560,0.926487,0.910412,0.870446,0.900615,0.956736,7.386238e-01,0.898358,1.110223e-16,0.817535
942,6.018253e-01,8.942021e-01,0.973444,0.941248,0.686059,0.723958,0.605636,0.700191,0.924383,0.778140,...,0.736209,0.789237,0.856747,0.922207,0.797756,0.855750,7.589723e-01,0.904880,8.175353e-01,0.000000

In [169]:
input_user=34

In [170]:
similar_target_user=similar_User_Prediction[34].sort_values(ascending=True).head(5).index
similar_target_user

Int64Index([34, 450, 852, 811, 509], dtype='int64')

In [171]:
movies_id=[]
for sim in similar_target_user:
    if sim in movie_Rating_Prediction.index:
        movies_id.append(movie_Rating_Prediction.iloc[sim])

In [172]:
movies_id

[0       1.740469
 1       0.283366
 2       0.114987
 3       0.645096
 4       0.127844
           ...
 1677   -0.183977
 1678   -0.182367
 1679   -0.183172
 1680   -0.181400
 1681   -0.181306
 Name: 34, Length: 1682, dtype: float64,
 0       1.889532
 1       0.407763
 2       0.229986
 3       0.775007
 4       0.244228
           ...
 1677   -0.072164
 1678   -0.070992
 1679   -0.071578
 1680   -0.069293
 1681   -0.069125
 Name: 450, Length: 1682, dtype: float64,
 0       1.803573
 1       0.320308
 2       0.144580
 3       0.687802
 4       0.156589
           ...
 1677   -0.159400
 1678   -0.158031
 1679   -0.158716
 1680   -0.156712
 1681   -0.156479
 Name: 852, Length: 1682, dtype: float64,
 0       1.749463
 1       0.285870
 2       0.110464
 3       0.649551
 4       0.123921
           ...
 1677   -0.189279
 1678   -0.187718
 1679   -0.188499
 1680   -0.186573
 1681   -0.186509
 Name: 811, Length: 1682, dtype: float64,
 0       1.766800
 1       0.296590
 2       0.118840
 3       0.665668
 4       0.133799
           ...
 1677   -0.182837
 1678   -0.181214
 1679   -0.182026
 1680   -0.180213
 1681   -0.180023
 Name: 509, Length: 1682, dtype: float64]

In [173]:
rec_movie=[]
for user_movies in movies_id:
    for index,movie_rating in user_movies.items():
        if(movie_rating > 1):
            rec_movie.append(index)

In [174]:
len(rec_movie)

275

In [175]:
not_watched_movies =data_matrix.iloc[34][data_matrix.iloc[34]<=0]
watched_movies=data_matrix.iloc[34][data_matrix.iloc[34]>0]

In [176]:
not_watched_movies=not_watched_movies.index
watched_movies=watched_movies.index

not_watched_movies
watched_movies

Int64Index([ 242,  243,  258,  259,  261,  264,  266,  300,  321,  322,  326,
             327,  328,  332,  333,  358,  678,  680,  748,  876,  877,  879,
             881,  937, 1025],
           dtype='int64', name='movie_id')

In [177]:
movies_can_recom = list(set(rec_movie)&set(not_watched_movies))

In [178]:
sorted(movies_can_recom)

[6,
 8,
 11,
 14,
 21,
 24,
 27,
 49,
 55,
 63,
 68,
 78,
 81,
 88,
 95,
 96,
 97,
 99,
 116,
 120,
 126,
 131,
 134,
 143,
 150,
 152,
 167,
 171,
 172,
 173,
 175,
 180,
 182,
 184,
 185,
 190,
 193,
 194,
 195,
 196,
 201,
 203,
 209,
 215,
 221,
 233,
 236,
 237,
 256,
 257,
 268,
 274,
 275,
 285,
 287,
 293,
 299,
 301,
 312,
 317,
 356,
 404,
 422,
 426,
 474,
 482,
 495]

In [194]:
highest_Rated= movie_Rating_Prediction[sorted(movies_can_recom)].iloc[34].sort_values(ascending=False).head(27).index

In [195]:
user_sim_table=pd.DataFrame(user_similarity)

In [196]:
user_sim_table

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
0,2.442491e-15,8.330690e-01,0.952540,0.935642,0.621525,0.569761,0.559633,0.680928,0.921862,0.623456,...,0.630473,0.880518,0.725124,0.810295,0.802674,0.881905,6.859280e-01,0.851383,8.204921e-01,0.601825
1,8.330690e-01,3.330669e-16,0.889409,0.821879,0.927021,0.754157,0.892672,0.896656,0.838952,0.840138,...,0.843014,0.692058,0.641211,0.575954,0.680111,0.771417,7.732100e-01,0.838515,8.277322e-01,0.894202
2,9.525405e-01,8.894087e-01,0.000000,0.655849,0.978755,0.927585,0.933863,0.916940,0.938960,0.934849,...,0.968125,0.957247,0.836171,0.930962,0.875755,0.973729,8.381099e-01,0.898757,8.665839e-01,0.973444
3,9.356422e-01,8.218788e-01,0.655849,0.000000,0.968196,0.931956,0.908770,0.811940,0.898716,0.939141,...,0.947893,0.963216,0.866885,0.806529,0.853942,0.969862,8.031418e-01,0.847959,8.299139e-01,0.941248
4,6.215248e-01,9.270210e-01,0.978755,0.968196,0.000000,0.762714,0.626400,0.751070,0.943153,0.798573,...,0.661206,0.919420,0.905076,0.920221,0.851393,0.928541,7.600453e-01,0.860405,8.475026e-01,0.686059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,8.819047e-01,7.714166e-01,0.973729,0.969862,0.928541,0.888148,0.892973,0.904102,0.960148,0.928540,...,0.933961,0.568846,0.741979,0.773551,0.567334,0.000000,9.123129e-01,0.819971,9.567357e-01,0.855750
939,6.859280e-01,7.732100e-01,0.838110,0.803142,0.760045,0.647551,0.670075,0.753117,0.879505,0.657039,...,0.672847,0.892976,0.812464,0.818683,0.824842,0.912313,3.330669e-16,0.854848,7.386238e-01,0.758972
940,8.513831e-01,8.385152e-01,0.898757,0.847959,0.860405,0.855554,0.940007,0.853855,0.856755,0.909695,...,0.953048,0.796699,0.711682,0.765789,0.686600,0.819971,8.548477e-01,0.000000,8.983582e-01,0.904880
941,8.204921e-01,8.277322e-01,0.866584,0.829914,0.847503,0.682672,0.717997,0.824678,0.907503,0.787670,...,0.773560,0.926487,0.910412,0.870446,0.900615,0.956736,7.386238e-01,0.898358,1.110223e-16,0.817535
942,6.018253e-01,8.942021e-01,0.973444,0.941248,0.686059,0.723958,0.605636,0.700191,0.924383,0.778140,...,0.736209,0.789237,0.856747,0.922207,0.797756,0.855750,7.589723e-01,0.904880,8.175353e-01,0.000000

In [197]:

i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols,
encoding='latin-1')

In [198]:
items

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [199]:
movie_title=[]
for movieid in highest_Rated:
    mov=items[items['movie id']==movieid]['movie title'].values
    movie_title.append(mov)

In [203]:
sorted(movie_title)

[array(['Apocalypse Now (1979)'], dtype=object),
 array(['Breaking the Waves (1996)'], dtype=object),
 array(['Citizen Ruth (1996)'], dtype=object),
 array(['Cold Comfort Farm (1995)'], dtype=object),
 array(['Crow, The (1994)'], dtype=object),
 array(['Dances with Wolves (1990)'], dtype=object),
 array(['Delicatessen (1991)'], dtype=object),
 array(['Donnie Brasco (1997)'], dtype=object),
 array(['Empire Strikes Back, The (1980)'], dtype=object),
 array(['Free Willy (1993)'], dtype=object),
 array(['Hoodlum (1997)'], dtype=object),
 array(['I.Q. (1994)'], dtype=object),
 array(['In the Name of the Father (1993)'], dtype=object),
 array(["Marvin's Room (1996)"], dtype=object),
 array(['Men in Black (1997)'], dtype=object),
 array(['Midnight in the Garden of Good and Evil (1997)'], dtype=object),
 array(['Princess Bride, The (1987)'], dtype=object),
 array(['Private Benjamin (1980)'], dtype=object),
 array(['Professional, The (1994)'], dtype=object),
 array(['Santa Clause, The (1994)'], dtype=object),
 array(['Secrets & Lies (1996)'], dtype=object),
 array(['Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)'],
       dtype=object),
 array(['Snow White and the Seven Dwarfs (1937)'], dtype=object),
 array(['Spitfire Grill, The (1996)'], dtype=object),
 array(['Striptease (1996)'], dtype=object),
 array(['This Is Spinal Tap (1984)'], dtype=object),
 array(['Unforgiven (1992)'], dtype=object)]