In [25]:
import pandas as pd
dataset = pd.get_dummies(pd.read_csv("Social_Network_Ads.csv"),drop_first=True, dtype=int)
dataset.columns
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [7]:
independent = dataset[['Age', 'EstimatedSalary', 'Gender_Male']]
dependent = dataset[['Purchased']]

In [12]:
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestClassifier

x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.3,random_state=0)

params = {

    "criterion":["gini", "entropy", "log_loss"],
    "max_features" : ["sqrt", "log2", None]
    
}
grid = GridSearchCV(RandomForestClassifier(),params,verbose=3,n_jobs=-1,refit=True, scoring="f1_weighted")

In [14]:
grid.fit(x_train,y_train)
y_pred = grid.predict(x_test)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

C:\Users\vignesh_s\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [18]:
from sklearn.metrics import classification_report

report  = classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.94      0.92      0.93        79
           1       0.86      0.88      0.87        41

    accuracy                           0.91       120
   macro avg       0.90      0.90      0.90       120
weighted avg       0.91      0.91      0.91       120

In [20]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[73,  6],
       [ 5, 36]], dtype=int64)

In [24]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.9669651126891016

In [29]:
grid.predict([[36,41000,1]])

C:\Users\vignesh_s\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)