In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv("dataset_traffic_accident_prediction1.csv")
dataset

,Weather,Road_Type,Time_of_Day,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Road_Condition,Vehicle_Type,Driver_Age,Driver_Experience,Road_Light_Condition,Accident
0,Rainy,City Road,Morning,1.0,100.0,5.0,0.0,NaN,Wet,Car,51.0,48.0,Artificial Light,0.0
1,Clear,Rural Road,Night,NaN,120.0,3.0,0.0,Moderate,Wet,Truck,49.0,43.0,Artificial Light,0.0
2,Rainy,Highway,Evening,1.0,60.0,4.0,0.0,Low,Icy,Car,54.0,52.0,Artificial Light,0.0
3,Clear,City Road,Afternoon,2.0,60.0,3.0,0.0,Low,Under Construction,Bus,34.0,31.0,Daylight,0.0
4,Rainy,Highway,Morning,1.0,195.0,11.0,0.0,Low,Dry,Car,62.0,55.0,Artificial Light,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,Clear,Highway,Night,2.0,30.0,4.0,0.0,Low,Dry,Car,23.0,15.0,Daylight,0.0
836,Rainy,Rural Road,Evening,2.0,60.0,4.0,0.0,Low,Dry,Motorcycle,52.0,46.0,Daylight,1.0
837,Foggy,Highway,Evening,NaN,30.0,4.0,1.0,High,Dry,Car,NaN,34.0,Artificial Light,NaN
838,Foggy,Highway,Afternoon,2.0,60.0,3.0,0.0,Low,Dry,Car,25.0,19.0,Artificial Light,0.0
839,Clear,Highway,Afternoon,1.0,60.0,4.0,0.0,Low,Dry,Motorcycle,29.0,21.0,Artificial Light,0.0

In [3]:
dataset[dataset.columns].corr()

C:\Users\Vignesh S\AppData\Local\Temp\ipykernel_24260\666749455.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset[dataset.columns].corr()

,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Driver_Age,Driver_Experience,Accident
Traffic_Density,1.000000,-0.045660,-0.040945,-0.020078,-0.010759,-0.002428,-0.002455
Speed_Limit,-0.045660,1.000000,0.513254,-0.014764,0.004224,0.001901,-0.026197
Number_of_Vehicles,-0.040945,0.513254,1.000000,-0.022694,0.022232,0.017878,0.040544
Driver_Alcohol,-0.020078,-0.014764,-0.022694,1.000000,0.024579,0.025362,0.022672
Driver_Age,-0.010759,0.004224,0.022232,0.024579,1.000000,0.982020,0.024078
Driver_Experience,-0.002428,0.001901,0.017878,0.025362,0.982020,1.000000,0.019894
Accident,-0.002455,-0.026197,0.040544,0.022672,0.024078,0.019894,1.000000

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Weather               798 non-null    object
 1   Road_Type             798 non-null    object
 2   Time_of_Day           798 non-null    object
 3   Traffic_Density       798 non-null    float64
 4   Speed_Limit           798 non-null    float64
 5   Number_of_Vehicles    798 non-null    float64
 6   Driver_Alcohol        798 non-null    float64
 7   Accident_Severity     798 non-null    object
 8   Road_Condition        798 non-null    object
 9   Vehicle_Type          798 non-null    object
 10  Driver_Age            798 non-null    float64
 11  Driver_Experience     798 non-null    float64
 12  Road_Light_Condition  798 non-null    object
 13  Accident              798 non-null    float64
dtypes: float64(7), object(7)
memory usage: 92.0+ KB

In [5]:
category = dataset[dataset.columns[dataset.dtypes=="object"]]
category

,Weather,Road_Type,Time_of_Day,Accident_Severity,Road_Condition,Vehicle_Type,Road_Light_Condition
0,Rainy,City Road,Morning,NaN,Wet,Car,Artificial Light
1,Clear,Rural Road,Night,Moderate,Wet,Truck,Artificial Light
2,Rainy,Highway,Evening,Low,Icy,Car,Artificial Light
3,Clear,City Road,Afternoon,Low,Under Construction,Bus,Daylight
4,Rainy,Highway,Morning,Low,Dry,Car,Artificial Light
...,...,...,...,...,...,...,...
835,Clear,Highway,Night,Low,Dry,Car,Daylight
836,Rainy,Rural Road,Evening,Low,Dry,Motorcycle,Daylight
837,Foggy,Highway,Evening,High,Dry,Car,Artificial Light
838,Foggy,Highway,Afternoon,Low,Dry,Car,Artificial Light
839,Clear,Highway,Afternoon,Low,Dry,Motorcycle,Artificial Light

In [7]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
categorytransformed = si.fit_transform(category)

cat = pd.DataFrame(categorytransformed, columns=category.columns)

In [8]:
df = dataset.copy()
num = df.drop(cat.columns,axis=1)
num

,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Driver_Age,Driver_Experience,Accident
0,1.0,100.0,5.0,0.0,51.0,48.0,0.0
1,NaN,120.0,3.0,0.0,49.0,43.0,0.0
2,1.0,60.0,4.0,0.0,54.0,52.0,0.0
3,2.0,60.0,3.0,0.0,34.0,31.0,0.0
4,1.0,195.0,11.0,0.0,62.0,55.0,1.0
...,...,...,...,...,...,...,...
835,2.0,30.0,4.0,0.0,23.0,15.0,0.0
836,2.0,60.0,4.0,0.0,52.0,46.0,1.0
837,NaN,30.0,4.0,1.0,NaN,34.0,NaN
838,2.0,60.0,3.0,0.0,25.0,19.0,0.0
839,1.0,60.0,4.0,0.0,29.0,21.0,0.0

In [9]:
num.isnull().sum()

Traffic_Density       42
Speed_Limit           42
Number_of_Vehicles    42
Driver_Alcohol        42
Driver_Age            42
Driver_Experience     42
Accident              42
dtype: int64

In [10]:
num.describe()

,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Driver_Age,Driver_Experience,Accident
count,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000
mean,1.001253,71.050125,3.286967,0.160401,43.259398,38.981203,0.299499
std,0.784894,32.052458,2.017267,0.367208,15.129856,15.273201,0.458326
min,0.000000,30.000000,1.000000,0.000000,18.000000,9.000000,0.000000
25%,0.000000,50.000000,2.000000,0.000000,30.000000,26.000000,0.000000
50%,1.000000,60.000000,3.000000,0.000000,43.000000,39.000000,0.000000
75%,2.000000,80.000000,4.000000,0.000000,56.000000,52.750000,1.000000
max,2.000000,213.000000,14.000000,1.000000,69.000000,69.000000,1.000000

In [11]:
num["Speed_Limit"].fillna(num["Speed_Limit"].median(),inplace=True)
num["Traffic_Density"].fillna(num["Traffic_Density"].mode()[0],inplace=True)
num["Number_of_Vehicles"].fillna(num["Number_of_Vehicles"].mode()[0], inplace=True)
num["Driver_Alcohol"].fillna(num["Driver_Alcohol"].mode()[0], inplace=True)
num["Driver_Age"].fillna(num["Driver_Age"].mode()[0], inplace=True)
num["Driver_Experience"].fillna(num["Driver_Experience"].mode()[0], inplace=True)
num["Accident"].fillna(num["Accident"].mode()[0], inplace=True)

In [12]:
num.isnull().sum()

Traffic_Density       0
Speed_Limit           0
Number_of_Vehicles    0
Driver_Alcohol        0
Driver_Age            0
Driver_Experience     0
Accident              0
dtype: int64

In [13]:
df = pd.concat([cat,num],axis=1)

In [14]:
df = pd.get_dummies(df,dtype=int,drop_first=True)
x = df.drop("Accident",axis=1)
y= df["Accident"]

In [15]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
random_forest = RandomForestClassifier(n_estimators=10,criterion="entropy",random_state=0)
random_forest.fit(x_train,y_train)
random_forest.feature_importances_,x_train.columns

(array([0.05645935, 0.10622237, 0.09328144, 0.01979757, 0.14546486,
        0.16417006, 0.01993019, 0.02698103, 0.01904411, 0.01084271,
        0.02917366, 0.01559944, 0.01641688, 0.02664334, 0.02827718,
        0.0163953 , 0.01776787, 0.02229097, 0.02045431, 0.0193334 ,
        0.0257211 , 0.02209983, 0.00779063, 0.02063054, 0.02420046,
        0.02501139]),
 Index(['Traffic_Density', 'Speed_Limit', 'Number_of_Vehicles',
        'Driver_Alcohol', 'Driver_Age', 'Driver_Experience', 'Weather_Foggy',
        'Weather_Rainy', 'Weather_Snowy', 'Weather_Stormy', 'Road_Type_Highway',
        'Road_Type_Mountain Road', 'Road_Type_Rural Road',
        'Time_of_Day_Evening', 'Time_of_Day_Morning', 'Time_of_Day_Night',
        'Accident_Severity_Low', 'Accident_Severity_Moderate',
        'Road_Condition_Icy', 'Road_Condition_Under Construction',
        'Road_Condition_Wet', 'Vehicle_Type_Car', 'Vehicle_Type_Motorcycle',
        'Vehicle_Type_Truck', 'Road_Light_Condition_Daylight',
        'Road_Light_Condition_No Light'],
       dtype='object'))

In [18]:
pd.Series(random_forest.feature_importances_,index=x_train.columns).sort_values(ascending=False)

Driver_Experience                    0.164170
Driver_Age                           0.145465
Speed_Limit                          0.106222
Number_of_Vehicles                   0.093281
Traffic_Density                      0.056459
Road_Type_Highway                    0.029174
Time_of_Day_Morning                  0.028277
Weather_Rainy                        0.026981
Time_of_Day_Evening                  0.026643
Road_Condition_Wet                   0.025721
Road_Light_Condition_No Light        0.025011
Road_Light_Condition_Daylight        0.024200
Accident_Severity_Moderate           0.022291
Vehicle_Type_Car                     0.022100
Vehicle_Type_Truck                   0.020631
Road_Condition_Icy                   0.020454
Weather_Foggy                        0.019930
Driver_Alcohol                       0.019798
Road_Condition_Under Construction    0.019333
Weather_Snowy                        0.019044
Accident_Severity_Low                0.017768
Road_Type_Rural Road                 0.016417
Time_of_Day_Night                    0.016395
Road_Type_Mountain Road              0.015599
Weather_Stormy                       0.010843
Vehicle_Type_Motorcycle              0.007791
dtype: float64